<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invitation</title>
</head>
<body>
<header class="site-header">
    <div class="container">
        <h1 class="title">Invitation</h1>
        <nav>
            <ul class="nav-links">
                <li><a th:href="@{/}">Home</a></li>
                <li th:if="${!isAuthenticated}"><a th:href="@{/auth/login}">Login</a></li>
                <li th:if="${!isAuthenticated}"><a th:href="@{/auth/register}">Register</a></li>
                <li th:if="${isAuthenticated}"><a th:href="@{/user/me}">My Profile</a></li>
                <li th:if="${isAuthenticated}"><a th:href="@{/auth/logout}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="button-container">
    <form th:action="@{/user/accept/invitation}" method="post">
        <button type="submit" class="edit">Accept</button>
    </form>

    <form
            th:action="@{/user/decline/invitation}" method="post">
        <button type="submit" class="delete"
                onclick="return confirm('Are you sure you want to delete this user?')">Decline
        </button>
    </form>
</div>

</body>
</html>