<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Photo</title>

</head>
<body>
<div class="navigation">
    <h3>
        <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home</a>
        <a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/login}">Login</a>
        <a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/register}">Register</a>
        <a href="#" th:if="${isAuthenticated}" th:href="@{/user/me}">My Profile</a>
        <a href="#" th:if="${isAuthenticated}" th:href="@{/auth/logout}">Logout</a>
    </h3>
</div>

<div class="body-content">
    <header class="header">
        <h2 th:text="#{subtitle}">Create a new post</h2>
    </header>

    <div class="post-form">
        <form action="#" th:action="@{/contest/{id}/upload/photo(id=${contestId})}" th:object="${combinedInput}"  method="post" enctype="multipart/form-data">
            <label th:text="#{photo.title.label}">Title</label>
            <input type="text" th:field="*{photoInput.title}" placeholder="Enter photo title"/>
            <div th:if="${#fields.hasErrors('photoInput.title')}" th:errors="*{photoInput.title}" class="error-message"></div>


            <label th:text="#{photo.story.label}">Story</label>
            <textarea th:field="*{photoInput.story}" placeholder="Write your story here..." rows="6"></textarea>
            <div th:if="${#fields.hasErrors('photoInput.story')}" th:errors="*{photoInput.story}" class="error-message"></div>

            <label th:text="#{photo.upload.label}">Upload Photo</label>
            <input type="file" name="file" accept="image/*" required/>
            <div th:if="${#fields.hasErrors('file')}" th:errors="*{file}" class="error-message"></div>

            <input type="submit" value="Save"/>
        </form>
    </div>
</div>
<footer>
    <small th:text="${'© Copyright ' + #dates.year(#dates.createNow()) + ' Photo Contest'}">Photo Contest</small>
</footer>
</body>
</html>