<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratings Of Photo</title>
    <link rel="stylesheet" th:href="@{/css/photoRatings.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lobster&display=swap"
          rel="stylesheet">
</head>
<body>

<!-- Хедър с навигационно меню -->
<header class="site-header">
    <div class="container">
        <h1 class="title">Ratings Of Photo</h1>
        <nav>
            <ul class="nav-links">
                <li><a th:href="@{/}">Home</a></li>
                <li><a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/login}">Login</a></li>
                <li><a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/register}">Register</a></li>
                <li><a href="#" th:if="${isAuthenticated}" th:href="@{/user/me}">My Profile</a></li>
                <li><a href="#" th:if="${isAuthenticated}" th:href="@{/photo/photos/of/user}">My Photos</a></li>
                <li><a href="#" th:if="${isAuthenticated}" th:href="@{/auth/logout}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Основно съдържание -->
<main>
    <div class="body-content">
        <h2 class="centered-title">Ratings Of Photo</h2>

        <div th:if="${juryPhotoRatingOutputs.isEmpty()}">
            <h2 th:text="#{rating.label.empty}">No Ratings Yet</h2>
        </div>

        <div th:unless="${juryPhotoRatingOutputs.isEmpty()}">
            <div class="table-container">
                <div class="table">
                    <div class="row header">
                        <div class="cell">Score</div>
                        <div class="cell">Comment</div>
                        <div class="cell">Category Match</div>
                        <div class="cell">Review Date</div>
                    </div>
                    <div class="row" th:each="rating : ${juryPhotoRatingOutputs}">
                        <div class="cell" th:text="${rating.score}">Score</div>
                        <div class="cell post-content" th:text="${rating.comment}">Comment</div>
                        <div class="cell post-content" th:text="${rating.categoryMatch ? 'Yes' : 'No'}">Category Match
                        </div>
                        <div th:text="${#temporals.format(rating.reviewDate, 'yyyy-MM-dd HH:mm:ss')}">Review Date</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Футър -->
<footer>
    <div class="container">
        <small th:text="${'© ' + #dates.year(#dates.createNow()) + ' PhotoContest'}">© 2024 PhotoContest</small>
    </div>
</footer>

</body>
</html>
