<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Photo Details</title>

</head>
<body>


<div class="body-content">
    <div class="header">
        <h2 th:text="${photo.title}">Photo Title</h2>
    </div>
    <div class="post-info">
        <div class="meta-info">
            <span th:text="'Story: ' + ${photo.story}">Story: ...</span>
            <span th:text="'Contest: ' + ${photo.contest.title}">Contest: ...</span>
            <span th:text="'Username: ' + ${photo.user.username}">Username: ...</span>
            <span th:text="'Photo: ' + ${photo.photoUrl}">Photo</span>
            <span th:text="'Created At: ' + ${#temporals.format(photo.getCreatedAt(), 'dd-MM-yyyy')}">Created At: 01-01-2024</span>        </div>
    </div>
</div>
<footer>
    <small th:text="${'© Copyright ' + #dates.year(#dates.createNow()) + ' PhotoContest'}">PhotoContest</small>
</footer>
</body>
</html>
