<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

</head>
<body>
<div class="navigation">
    <h3>
        <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home</a>
    </h3>
</div>
<div class="content-container">
    <form action="#" th:action="@{/auth/register}" th:object="${register}" method="post" enctype="multipart/form-data">


        <label class="custom-file-upload">
            <input type="file" th:field="*{profilePhoto}" accept="image/jpeg" onchange="previewProfilePhoto(event)"/>
            Add profile photo
        </label>
        <label class="error" th:errors="*{profilePhoto}">Profile photo error placeholder</label>

        <label th:text="#{user.label.username}">Username</label>
        <input type="text" th:field="*{username}"/>
        <label class="error" th:errors="*{username}">Username error placeholder</label>

        <label th:text="#{user.label.password}">Password</label>
        <input type="password" th:field="*{password}"/>
        <label class="error" th:errors="*{password}">Password error placeholder</label>

        <label th:text="#{user.label.passwordConfirm}">Confirm Password</label>
        <input type="password" th:field="*{passwordConfirm}"/>
        <label class="error" th:errors="*{passwordConfirm}">Confirm Password error placeholder</label>

        <label th:text="#{user.label.firstName}">First Name</label>
        <input type="text" th:field="*{firstName}"/>
        <label class="error" th:errors="*{firstName}">First Name error placeholder</label>

        <label th:text="#{user.label.lastName}">Last Name</label>
        <input type="text" th:field="*{lastName}"/>
        <label class="error" th:errors="*{lastName}">Last Name error placeholder</label>

        <label th:text="#{user.label.email}">Email</label>
        <input type="text" th:field="*{email}"/>
        <label class="error" th:errors="*{email}">Email error placeholder</label>

        <input type="submit" value="Register"/>
    </form>
</div>
<footer>
    <small th:text="${'© Copyright ' + #dates.year(#dates.createNow()) + ' Photo Contest'}">Photo Contest</small>
</footer>